{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}

{% block content %}
<div class="max-w-6xl mx-auto my-10 px-4">
  
  <!-- Heading -->
  <h3 class="text-2xl font-semibold mb-6 capitalize">
    Welcome {{request.user}}
  </h3>

  <div class="flex gap-8">
    
    <!-- Sidebar -->
    <div class="w-1/4 border-r pr-4">
      <ul class="space-y-3">
        <li>
        <a href="{% url 'profile' %}"
   class="block text-center py-2 rounded-lg transition
   {% if request.resolver_match.url_name == 'profile' %}
      bg-blue-600 text-white
   {% else %}
      border border-blue-600 text-blue-600 hover:bg-blue-50
   {% endif %}">
   Profile
</a>
</li>
        <li>
          <a href="{% url 'address' %}"
             class="block text-center border border-blue-600 text-blue-600 py-2 rounded-lg hover:bg-blue-50 transition">
            Address
          </a>
        </li>
      </ul>
    </div>
    <!-- form ka for loop start     -->
     
 <div class="w-3/4">
  <form method="post" class="space-y-4">
    {% if messages %}
  {% for message in messages %}
    <div class="mb-4 p-3 rounded-lg 
      {% if message.tags == 'success' %}
        bg-green-100 text-green-700
      {% elif message.tags == 'error' %}
        bg-red-100 text-red-700
      {% endif %}
    ">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
    {% csrf_token %}

    {% for field in form %}
      <div>
        <label class="block mb-1 font-medium text-gray-700">
          {{ field.label }}
        </label>
        {{ field }}
        
        {% if field.errors %}
          <p class="text-red-500 text-sm mt-1">
            {{ field.errors }}
          </p>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit"
      class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition">
      Save
    </button>

    
  </form>
</div> 
<!-- form ka for loop end -->
    
    
    

  </div>
</div>
{% endblock content %}
